html, body {
	--blue: #2d83a1;
	--soft-gray: #f7efed;
	--light-black: #293249;

	font-family: 'Lato', Roboto, Oxygen-Sans, sans-serif;
}

.bg-1{
	background-color: var(--soft-gray);
}

.bg-2{
	background-color: var(--light-black);
}
.light-text{
	color: var(--soft-gray);
}
.dark-text{
	color: var(--light-black);
}
